#wrap > #content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content > .login-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
}

.login-box > .text-box {
    width: 70%;
    margin-bottom: 6vh;
    text-align: center;
}

.text-box > h3 {
    font-size: 28px;
}

.login-box > .input-box {
    width: 70%;
    height: 44px;
    margin-bottom: 8%;
}

.input-box > input {
    width: 100%;
    height: 100%;
    font-size: 98%;
    padding: 3px 6px;
    margin-top: 8px;
}

#loginBtn {
    width: 70%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 0.8vh;
}

.lines {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.lines > .line {
    width: 40%;
    height: 10%;
    display: flex;
}

.line > span  {
    width: 100%;
    height: 100%;
    background-color: black;
}

.login-box > .social-box {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 12vh;
}

.social-box > .img-box {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(185, 183, 183);
}

.social-box .img-box:nth-child(1) > img {
    width: 60%;
}
.social-box .img-box:nth-child(2) > img {
    width: 104%;
    padding-bottom: 1px;
}
.social-box .img-box:nth-child(3) > img {
    width: 70%;
}