#wrap > #content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 18vh;
}

#content > .signup-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.signup-box > h3 {
    width: 20%;
    font-size: 26px;
}


.signup-box > .input-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.input-boxes > .input-box {
    width: 50%;
    margin-bottom: 10px;
}

.input-box > input {
    width: 80%;
    height: 34px;
    font-size: 98%;
    padding: 3px 6px;
    margin-top: 8px;
}

.signup-box > .agree-box {
    width: 50%;
}

.agree-box > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.agree-box > div:nth-child(1) {
    margin-bottom: 20px;
}
.agree-box > div > h5 {
    font-size: 14px;
}

.agree-box > div > h5 > input {
    width: 9vh;
    zoom: 1.3
}

.agree-box > div:nth-child(1) > h5 > input {
    zoom: 1.8;
    margin-right: 1px;
}


.agree-box > div:nth-child(1) > h5 {
    font-size: 18px;
}

.agree-box > ul {
    width: 82%;
    height: 1%;
}

.agree-box > ul > li {
    width: 100%;
    height: 100%;
    background-color: gray;
}

#signupBtn {
    width: 82%;
    height: 40px;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}