* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul, li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

#wrap {
    width: 100%;
}

#wrap > header {
    width: 100%;
    height: 58px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 2;
}

header > .img-box {
    width: 8%;
    height: 50%;
}

.img-box > img {
    width: 100%;
}


header > .search-box {
    width: 36%;
    height: 64%;
    margin: 0px 1%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d9d9d9
}

.search-box > img {
    position: absolute;
    top: 20%;
    left: 1%;
}

.search-box > input {
    width: 100%;
    padding-left: 5%;
    font-size: 18px;
    height: 100%;
    border: 0;
}

header > ul {
    width: 14%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}


/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8667em;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    color: #444;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

footer > .ftr-tab1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #666;
    line-height: 30px;
}

.ftr-tab1 > .left {
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
}

.ftr-tab1 > .right > .thtsrc-btn {
    width: 106px; 
    height: 30px; 
    color: #666; 
    border: 1px solid #d8d9db; 
    border-radius: 30px;
    position: relative;
    text-align: center;
}

.thtsrc-btn > img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 25%;
    left: 15%;
}

.thtsrc-btn > span {
    padding-left: 13px;
    padding-bottom: 3px;
}

footer > .ftr-tab2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ftr-tab1 > .left > span:nth-child(7) {
    color: #222;
    font-weight: 700;
}

.ftr-tab2 > img {
    width: 18%;
    height: 8%;
    margin-top: 0.6%;
}

.ftr-tab2 > .sns-icon-box {
    width: 12%;
    display: inline-flex;
    justify-content: space-between;
}

.sns-icon-box > img {
    width: 30px;
    height: 30px;
}


.blank-box {
    width: 100%;
    height: 58px;
    border: 1px solid;
    display: none;
}

textarea {
    display: block;
    z-index: -3px;
}