<header>
        <div class="img-box">
            <img src="/img/topbottom/logo.png" alt="">
        </div>
        <div class="search-box">
            <img src="/img/topbottom/search-icon.png" alt="search-icon">
            <input type="text" style="line-height: -1px;" placeholder="상품, 브랜드 및 유저 검색">
        </div>
        <ul>
            <li><a href="http://localhost:3000">홈</a></li>
            <li><a href="http://localhost:3000/item">마켓</a></li>
            <li><a href="http://localhost:3000/item/sell">판매</a></li>
            <li><a href="http://localhost:3000/user/signup">회원가입</a></li>
            <li><a href="http://localhost:3000/user/login">로그인</a></li>
        </ul>
</header>
        <div class="blank-box"></div>