<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <div class="content-wrap">
                <div class="profile-box">
                    <img src="/img/views/Unknown.svg" alt="">
                    <div class="img-box" style="border: 1px solid;">
                        <img src="/img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <h3>닉네임</h3>
                        <textarea name="" id="" style="resize: none;"></textarea>
                        <div class="textarea-box"></div>
                    </div>
                </div>
                <div class="user-btn-box">
                    <div id="historyBtn">구매내역</div>
                    <div id="editBtn">편집</div>
                </div>
                <div class="controller">
                    <span>Shop
                        <div class="line"></div>
                    </span>
                    <span>Wishlist
                        <div class="line"></div>
                    </span>
                    <span>Reviews
                        <div class="line"></div>
                    </span>
                </div>
                <div class="shop-box" style="display: none;">
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>Belier</p>
                            <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                            <p>78,000원</p>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>Belier</p>
                            <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                            <p>78,000원</p>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>Belier</p>
                            <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                            <p>78,000원</p>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>Belier</p>
                            <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                            <p>78,000원</p>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>Belier</p>
                            <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                            <p>78,000원</p>
                        </div>
                    </div>
                </div>
                <div class="wishlist-box" style="display: none;">
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/topbottom/ico-instagram.png" alt="">
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/topbottom/ico-instagram.png" alt="">
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/topbottom/ico-instagram.png" alt="">
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/topbottom/ico-instagram.png" alt="">
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-box">
                            <img src="../img/topbottom/ico-instagram.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="review-box">
                    <div class="input-box">
                        <select name="" id="">
                            <option value="">별점 선택</option>
                            <option value="1">★☆☆☆☆</option>
                            <option value="2">★★☆☆☆</option>
                            <option value="3">★★★☆☆</option>
                            <option value="4">★★★★☆</option>
                            <option value="4">★★★★★</option>
                            <option value="5"></option>
                        </select>
                        <input type="text">
                        <button>작성</button>
                    </div>
                    <div class="reply-box">
                        <div class="left">
                            <div class="reviewer-box">
                                <h6>
                                    <img src="../img/login/image.png" alt="">
                                </h6>
                                <h6>닉네임</h6>
                            </div>
                            <div class="rating-box">
                                <div class="flex-box">
                                    <h6>★☆★☆★</h6>
                                    <h6>2024. 7. 16</h6>   
                                </div>
                                <h6>좋은 배송 감사합니다~</h6>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img-box">
                                <img src="../img/login/image.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reply-box">
                        <div class="left">
                            <div class="reviewer-box">
                                <h6>
                                    <img src="../img/login/image.png" alt="">
                                </h6>
                                <h6>닉네임</h6>
                            </div>
                            <div class="rating-box">
                                <div class="flex-box">
                                    <h6>★☆★☆★</h6>
                                    <h6>2024. 7. 16</h6>   
                                </div>
                                <h6>좋은 배송 감사합니다~</h6>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img-box">
                                <img src="../img/login/image.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reply-box">
                        <div class="left">
                            <div class="reviewer-box">
                                <h6>
                                    <img src="../img/login/image.png" alt="">
                                </h6>
                                <h6>닉네임</h6>
                            </div>
                            <div class="rating-box">
                                <div class="flex-box">
                                    <h6>★☆★☆★</h6>
                                    <h6>2024. 7. 16</h6>   
                                </div>
                                <h6>좋은 배송 감사합니다~</h6>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img-box">
                                <img src="../img/login/image.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="reply-box">
                        <div class="left">
                            <div class="reviewer-box">
                                <h6>
                                    <img src="../img/login/image.png" alt="">
                                </h6>
                                <h6>닉네임</h6>
                            </div>
                            <div class="rating-box">
                                <div class="flex-box">
                                    <h6>★☆★☆★</h6>
                                    <h6>2024. 7. 16</h6>   
                                </div>
                                <h6>좋은 배송 감사합니다~</h6>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img-box">
                                <img src="../img/login/image.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/js/header.js"></script>
</html>