<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="purchase-box">
            <div>
                <div class="left">가격</div>
                <div class="right">안전결제</div>
            </div>
        </div>
        <div id="content">
            <div class="content-wrap">
                <div class="product-box">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div class="ifo-box">
                    <div class="guide-box">
                        <div class="left"></div>
                        <div class="right"></div>
                        <ul class="ifo-cotent">
                            <li>상품</li>
                            <li>배송</li>
                            <li>판매자</li>
                        </ul>
                    </div>
                    <div class="guide-box">
                        <div class="left"></div>
                        <div class="right"></div>
                        <ul class="ifo-cotent">
                            <li>상품</li>
                            <li>배송</li>
                            <li>판매자</li>
                        </ul>
                    </div>
                    <div class="brand-box">
                        <h3>뭐 모아 보기</h3>
                        <div class="product-box"></div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/js/header.js"></script>
</html>