#wrap > #content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content > .content-wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrap > .profile-box {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 40px;
}

.profile-box > img {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1%;
    right: 2%;
}

.profile-box > .img-box {
    width: 18%;
}

.img-box > img {
    width: 100%;
}

.profile-box > .ifo-box {
    width: 60%;
    height: 140px;
    margin-left: 4%;
    font-size: 24px;
    padding-top: 2%;
}

.ifo-box > textarea {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 6px 6px;
    font-size: 60%;
}

.ifo-box > .textarea-box {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 6px 6px;
    font-size: 60%;
    border: 1px solid;
    display: none;
}

.content-wrap > .user-btn-box {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 30px;
}

.user-btn-box > #historyBtn {
    width: 10%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.user-btn-box > #historyBtn:hover {
    background-color: gray;
}

.user-btn-box > #editBtn {
    width: 10%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-btn-box > #editBtn:hover {
    background-color: gray;
}

.content-wrap > .controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.controller > span {
    width: 100%;
    text-align: center;
    position: relative;
}

.controller > .line {
    position: absolute;
    top: 1%;
    width: 3%;
    height: 8%;
    background-color: black;
}


.content-wrap > .shop-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0px;
}

.shop-box > .product-box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box > .img-box {
    width: 86%;
    height: 86%;
}

.product-box > .ifo-box {
    width: 86%;
}

.ifo-box > p:nth-child(1) {
    font-size: 100%;
    font-weight: 700;
}
.ifo-box > p:nth-child(2) {
    font-size: 84%;
    font-weight: 200;
    margin-top: 0.4%;
}
.ifo-box > p:nth-child(3) {
    font-size: 110%;
    font-weight: 700;
}

.content-wrap > .wishlist-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0px;
}

.wishlist-box > .product-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.content-wrap > .review-box {
    width: 100%;
}

.review-box > .reply-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.8%;
}

.reply-box > .left {
    width: 30%;
}

.left > .reviewer-box {
    width: 100%;
    height: 27px;
    display: flex;
}

.reviewer-box > h6 {
    width: 8%;
    aspect-ratio: 1 / 0.1
}
.reviewer-box > h6:nth-child(2) {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 90%;
    color: rgb(97, 97, 97);
}

.reviewer-box > h6 > img {
    width: 100%;
    height: 100%;
}

.left > .rating-box {
    width: 51.6%;
    margin-top: 1%;
}

.rating-box > h6 {
    margin-top: 1.6%;
    font-size: 90%;
}

.rating-box > .flex-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 170%;
}

.flex-box > h6:nth-child(2) {
    font-size: 58%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.512);
}

.reply-box > .right {
    width: 5%;
    display: flex;
    align-items: center;
}

.right > .img-box {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.right > .img-box > img {
    width: 100%;
    height: 100%;
}

.under-reply-box {
    width: 100%;
    margin-top: 10px;
}

.under-reply-box > .seller-ifo {
    width: 40%;
    display: flex;
    align-items: center;
}

.seller-ifo > h6:nth-child(1) {
    font-size: 98%;
    margin-top: 1%;
}

.seller-ifo > h6:nth-child(2) {
    width: 4%;
    height: 4%;
    margin-left: 1%;
}
.seller-ifo > h6:nth-child(2) > img {
    width: 100%;
    height: 100%;
}

.seller-ifo > h6:nth-child(3) {
    font-size: 90%;
    margin-left: 1.2%;
}
.seller-ifo > h6:nth-child(4) {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.512);
    margin-left: 2%;
}

.seller-content {
    font-size: 80%;
    font-weight: 700;
    margin-top: 0.2%;
    margin-left: 0.3%;
}


