#wrap > #content {
    width: 100%;
}

#content > .content-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content > #purchase-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#purchase-box > div {
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#purchase-box > div > .left {
    width: 30%;
    height: 80%;
    font-size: 26px;
    background-color: #ffffff;
    display: flex;
    padding-left: 2%;
    align-items: center;
}

#purchase-box > div > .right {
    width: 40%;
    height: 80%;
    background-color: black;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrap > .product-box {
    width: 70%;
    display: flex;
    margin-top: 2%;
}

.product-box > .left {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left > .img-box {
    width: 70%;
    aspect-ratio: 1 / 1;
}

.img-box > img {
    width: 100%;
    height: 100%;
}

.left > .small-img-boxes {
    width: 80%;
    display: flex;
    margin-top: 6%;
}

.small-img-boxes > .small-img-box {
    width: 20%;
    border: 2px solid gray;
}

.small-img-boxes > .small-img-box:nth-child(1) {
    border: 4px solid gray;
}

.small-img-box > img {
    width: 100%;
    height: 100%;
}

.product-box > .right {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right > .brand-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.brand-box > .img-box {
    width: 6%;
}

.right > .title-box {
    width: 70%;
    margin-top: 1%;
    font-size: 120%;
}

.right > .content-box {
    width: 70%;
    overflow: hidden;
    resize: none;
    font-size: 90%;
    padding: 6px 6px;
    margin-top: 2%;
}

.right > .category-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0px 1%;
    margin-top: 4%;
    color: #777;
}

.right > h3 {
    width: 70%;
    margin-top: 6%;
}

.right > .seller-ifo-box {
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 140%;
}

.right > .seller-ifo-box > .img-box {
    padding-top: 2%;
    width: 10%;
    margin-right: 3%;
}

.like-btn-box {
    width: 70%;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 1%;
}
