<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <div class="login-box">
                <div class="text-box">
                    <h3>로그인</h3>
                </div>
                <div class="input-box">
                    <h4>이메일</h4>
                    <input type="text" id="emailInput">
                </div>
                <div class="input-box">
                    <h4>비밀번호</h4>
                    <input type="password" id="upwInput">
                </div>
                <div id="loginBtn">로그인</div>
                <div class="under-box">
                    <span>아직 회원이 아니신가요?</span>
                    <a href="/user/signup">회원가입</a>
                </div>
                <div class="lines">
                    <div class="line">
                        <span></span>
                    </div>
                    <h5>간편 로그인</h3>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <div class="social-box">
                    <div class="img-box">
                        <img src="/img/login/image.webp" alt="" id="google">
                    </div>
                    <div class="img-box">
                        <img src="/img/login/image.png" alt="" id="kakao">
                    </div>
                    <div class="img-box">
                        <img src="/img/login/pngtree-email-vector-icon-png-image_1027071.jpg" alt="" id="email">
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
<!-- <script src="/js/header.js"></script> -->
<script src="/ts/login.js"></script>
<script>
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('keydown', (event) => {
        if(event.key === 'Enter') {
            if(searchInput.value) {
                location.href = `https://junhu.store/item/market?search=${searchInput.value}`;
            }
        }
    })
</script>
<script>
    sellBtn.onclick = async () =>  {
        try {
            const response = await axios.get('https://junhu.store/item/sell');
            location.href = 'https://junhu.store/item/sell';
        }catch {
            alert('로그인이 필요해요.')
        }
    }
</script>
</html>