
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css//main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <div class="content-box1" style="border: 1px solid;">
                <div id="slide-0" class="slide-boxes">
                    <div class="slide-box slide-animation"></div>
                    <div class="slide-box slide-animation"></div>
                </div>
                <div id="slide-1" class="slide-boxes" style="display: none;">
                    <div class="slide-box"></div>
                    <div class="slide-box"></div>
                </div>
                <div id="slide-2" class="slide-boxes" style="display: none;">
                    <div class="slide-box"></div>
                    <div class="slide-box"></div>
                </div>
                <div id="slide-3" class="slide-boxes" style="display: none;">
                    <div class="slide-box"></div>
                    <div class="slide-box"></div>
                </div>
                <div id="slide-4" class="slide-boxes" style="display: none;">
                    <div class="slide-box"></div>
                    <div class="slide-box"></div>
                </div>
                <div id="slide-5" class="slide-boxes" style="display: none;">
                    <div class="slide-box"></div>
                    <div class="slide-box"></div>
                </div>
                <div class="slide-controller">
                    <span id="stick-0" style="background-color: gray;"></span>
                    <span id="stick-1"></span>
                    <span id="stick-2"></span>
                    <span id="stick-3"></span>
                    <span id="stick-4"></span>
                    <span id="stick-5"></span>
                </div>
            </div>
            <div class="content-box2"></div>
            <div class="content-box3"></div>
            <div class="content-box4"></div>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/ts/header.js"></script>
<script src="/ts/main.js"></script>
<script>
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('keydown', (event) => {
        if(event.key === 'Enter') {
            if(searchInput.value) {
                location.href = `https://junhu.store/item/market?search=${searchInput.value}`;
            }
        }
    })
</script>
<script>
    const logoutBtn = document.getElementById("logOut");
logoutBtn.onclick = async () => {
    const response = await axios.post("/user/logout");
    if(response.status === 200) {
        location.href = `https://junhu.store/`;
    }
}
</script>
<script>
    sellBtn.onclick = async () =>  {
        try {
            const response = await axios.get('https://junhu.store/item/sell');
            location.href = 'https://junhu.store/item/sell';
        }catch {
            alert('로그인이 필요해요.')
        }
    }
</script>
</html>