<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <div class="signup-box">
                <h3>회원가입</h3>
                <div class="input-boxes">
                   <div class="input-box">
                       {{#if signToken}}
                       <input type="text" class="sucess" id="emailInput" value={{signToken}} hidden>
                       {{/if}}
                       {{#unless signToken}}
                       <h4>이메일</h4>
                       <input type="text" id="emailInput">
                       <button id="duplicateCheckBtn">중복확인</button>
                       {{/unless}}
                   </div>
                    <div class="input-box">
                        <h4>비밀번호</h4>
                        <input type="text" id="upwInput">
                    </div>
                    <div class="input-box">
                        <h4>닉네임</h4>
                        <input type="text" id="nickNameInput">
                        <button id="duplicateCheckBtn2">중복확인</button>
                    </div>
               </div>
                <div class="agree-box">
                    <div>
                        <h5 class="left">전체 동의하기</h5>
                        <h5 class="right">
                            <input type="checkbox" id="checkAll">
                        </h5>
                    </div>
                    <ul>
                        <li></li>
                    </ul>
                    <div>
                        <h5 class="left">본인은 만 14세 이상입니다. (필수)</h5>
                        <h5 class="right">
                            <input type="checkbox" id="check">
                        </h5>
                    </div>
                    <div>
                        <h5 class="left">서비스 이용약관에 동의합니다. (필수)</h5>
                        <h5 class="right">
                            <input type="checkbox" id="check">
                        </h5>
                    </div>
                    <div>
                        <h5 class="left">개인정보 취급방침에 동의합니다. (필수)</h5>
                        <h5 class="right">
                            <input type="checkbox" id="check">
                        </h5>
                    </div>
                    <div>
                        <h5 class="left">혜택/이벤트 정보 수신에 동의합니다. (필수)</h5>
                        <h5 class="right">
                            <input type="checkbox" id="check">
                        </h5>
                    </div>
                    <div id="signupBtn">회원가입</div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
<!-- <script src="../js/header.js"></script> -->
<script>
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('keydown', (event) => {
        if(event.key === 'Enter') {
            if(searchInput.value) {
                location.href = `https://junhu.store/item/market?search=${searchInput.value}`;
            }
        }
    })
</script>
<script>
    sellBtn.onclick = async () =>  {
        try {
            const response = await axios.get('https://junhu.store/item/sell');
        }catch {
            alert('로그인이 필요해요.')
        }
    }
</script>
<script>
    const signupBtn = document.getElementById("signupBtn");
signupBtn.onclick = () => {
    if ((document.getElementById("checkAll").checked) && (document.getElementById("emailInput").classList.contains("sucess")) && (document.getElementById("nickNameInput").classList.contains("sucess"))) {
        const emailInput = document.getElementById("emailInput");
        const upwInput = document.getElementById("upwInput");
        const nickNameInput = document.getElementById("nickNameInput");
        const object = {
            email: emailInput.value,
            upw: upwInput.value,
            nickname: nickNameInput.value
        };
        console.log(object);
        {{#if signToken}}
        const token = {{signToken}}
        {{/if}}
        try{
            if(token) {
                axios.post('/auth/signSns', object);
            }
        }catch {
            axios.post("https://junhu.store/user/signUp", object)
                .then((res) => {
                console.log(res);
                location.href = "https://junhu.store/user/login";
            }).catch((error) => {
                if (error.response) {
                    console.error('Error data:', error.response.data);
                    console.error('Error status:', error.response.status);
                    console.error('Error headers:', error.response.headers);
                }
                else if (error.request) {
                    console.error('Error request:', error.request);
                }
                else {
                    console.error('Error message:', error.message);
                }
                console.error('Error config:', error.config);
            });
        }
    }
    else {
        alert("다시 해주세영");
    }
};
const checkAll = document.getElementById("checkAll");
checkAll.onclick = () => {
    const checks = document.querySelectorAll("#check");
    if (checkAll.checked === true) {
        checks.forEach((el) => el.checked = true);
    }
    else if (checkAll.checked === false) {
        checks.forEach((el) => el.checked = false);
    }
};
const checks = document.querySelectorAll("#check");
checks.forEach((el) => {
    el.onclick = () => {
        const checks = document.querySelectorAll("#check");
        for (let i = 0; i < checks.length; i++) {
            if (checks[i].checked === false)
                return;
        }
        checkAll.checked = true;
    };
});
const duplicateCheckBtn = document.getElementById("duplicateCheckBtn");
if (duplicateCheckBtn) {
    duplicateCheckBtn.onclick = (e) => {
        axios.post("https://junhu.store/user/duplicate", { email: document.getElementById("emailInput").value })
            .then((res) => {
            console.log(res.data);
            if (res.data) {
                document.getElementById("emailInput").classList.add("sucess");
                document.getElementById("emailInput").readOnly = true;
                e.target.remove();
                alert("사용 가능!");
            }
            else if (!res.data) {
                alert("중복이야!");
            }
        });
    };
}
const duplicateCheckBtn2 = document.getElementById("duplicateCheckBtn2");
if (duplicateCheckBtn2) {
    duplicateCheckBtn2.onclick = (e) => {
        axios.post("https://junhu.store/user/duplicate2", { nickname: document.getElementById("nickNameInput").value })
            .then((res) => {
            console.log(res.data);
            if (res.data) {
                document.getElementById("nickNameInput").classList.add("sucess");
                document.getElementById("nickNameInput").readOnly = true;
                e.target.remove();
                alert("사용 가능!");
            }
            else if (!res.data) {
                alert("중복이야!");
            }
        });
    };
}
</script>
</html>
